
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FailPaypal</title>
</head>
<body>
    <div> 
        <div class="alert-danger">Thanh Toán Paypal Thất Bại</div>
        @Html.ActionLink("Trở Về", "XemGioHang","GioHang")
    </div>
</body>
</html>
